playwright~=1.40.0
mysql-connector-python~=9.0.0
pytest~=7.4.4
pytest-playwright~=0.5.2
allure-python-commons~=2.14.0
allure-pytest~=2.14.0
logging~=0.4.9.6
python-dateutil~=2.9.0.post0
Pillow~=10.0.0
pytesseract~=0.3.10
